<div class="footer">
    <p>
     <ul class="social-links">
      {% if site.author.github %}
          <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
              <i class="fa fa-github"></i>
          </a>
      {% endif %}

      {% if site.author.twitter %}
          <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
              <i class="fa fa-twitter"></i>
          </a>
      {% endif %}

      {% if site.author.instagram %}
          <a href="https://instagram.com/{{ site.author.instagram }}" class="social-links__entry" target="_blank">
              <i class="fa fa-instagram"></i>
          </a>
      {% endif %}

      {% if site.author.linkedin %}
          <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
              <i class="fa fa-linkedin"></i>
          </a>
      {% endif %}
      
  </ul>
  Copyright &copy; Anthony Ramella
    </p>
  </div>

{% include externals/scripts.html %}
