<div id="footer">
  <div class="footer">
    <div class="contact">
      <p>
       <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
    </ul>
    Copyright &copy; Anthony Ramella
      </p>
    </div>
  </div>
</div>

{% include externals/scripts.html %}
