// Color Variables
$aztec: #3C3530;
$white: #FFFFFF;
$celeste: #D3D0CB;
$cutty: #547D71;
$regal: #254055;
$brick: #A44A3F;
$tuna: #353946;
$charcoal: #474747;
$charade: #3B4145;
$smoke: #fdf6e3;
$lilac: #e1cfa1;
$black: #000000;

// Google fonts
// @import url(https://fonts.googleapis.com/css?family=Kanit);
// @import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Rokkitt);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
// Font Variables
$kanit: 'Kanit', sans-serif;
$lora: 'Lora', sans-serif;
$rokkitt: 'Rokkitt';
$merriweather: 'Merriweather';
$inconsolata: 'Inconsolata';

// Media Queries
$mobile: new-breakpoint(max-width 664px 4);