// Color Variables
$aztec:     #3C3530;
$white:     #FFFFFF;
$celeste:   #D3D0CB;
$charcoal:  #474747;

$cutty:     #547D71;
$regal:     #254055;
$brick:     #A44A3F;
$black:     #000000;
$altblack:  #222222;
$basegray:  #aaaaaa;
$altgray:   #c8c8c8;


// Google fonts
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|Share+Tech+Mono');
@import url('https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css');

// Font Variables
$sharetech: 'Share Tech Mono';
$sourcecode: 'Source Code Pro';
$overpass: 'Overpass Mono';
$firacode: 'Fira Code';

// Media Queries
// $mobile: (max-width: 664px 4);