@import "reset";
@import "syntax";
@import "404";
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "mixins";

// Color variables:
$text_main: $charade;
$link_hover: $brick;
$nav_links: $cutty;
$title: $celeste;
$navbar: $aztec;

// Font variables
$navbar_font: $rokkitt;
$base_font: $merriweather;

// Base styles
body {
    background: $white;
    font-family: $base_font;
    font-size: 1.2rem;
    @media screen and (max-width: 887px) {
        font-size: 1rem;
    }
}
h2 {
    color: $text_main;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: left;
    line-height: 2.2rem;
}
h3 {
    color: $text_main;
    margin-top: 1.9rem;
}
a, a:hover, a:visited, a:focus {
    text-decoration: none;
}
hr {
    @include hz_rule;
}
// Highlight color
::selection {
    background: $nav_links; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: $nav_links; /* Gecko Browsers */
}

// Header and nav
.title_nav {

    @include navbox;
    @include outer-container;

    .title {
        margin-bottom: 0;
        margin-top: 2.2rem;
        @include span-columns(8);

         @media screen and (max-width: 887px){
            @include span-columns(12);
            margin-bottom: .5rem;
            text-align: center;
        }
            a {
            color: $title;
            font-size: 2.6rem;
            font-family: $navbar_font;
            text-decoration: none;
            }
                a:hover {
                color: $link_hover;
                text-decoration: none;
                }
    }
    .nav_links {
        word-spacing: 1rem;
        font-family: $navbar_font;
        padding-top: 2.4rem;
        font-size: 1.7rem;
        text-align: right;
        font-weight: 600;
        @include span-columns(4);

        @media screen and (max-width: 887px){
            text-align: center;
            padding-top: 1rem;
            @include span-columns(12);
        }
        a {
            color: $nav_links;
        }
            a:hover {
                color: $link_hover;
                text-decoration: none;
                }
    }
}

// Site wrapper
.site {
    max-width: 100%;
    font-size: inherit;
    margin-top: 0;
     @include outer-container(100%);
         @media screen and (max-width: 887px){
            padding-left: 2rem;
            padding-right: 2rem;
        }
}

// Index post listing
.page_subtitle {
    margin-bottom: 2rem;
    text-align: center;
}
.post_date {
    padding: 0;
    color: $title;
}
.posts, .post {
    @include post_link_hover;
    a:visited {
        color: $text_main;
    }
    img {

        @include outer-container(100%);
        @include image_container;
    }
    li {
        padding-top:.5rem;
        line-height: 3rem;

    @media screen and (max-width: 887px){
        line-height: 1.2rem;
        text-align: left;
    }
        span {
            float: right;
            font-family: $navbar_font;
            font-size: 1.5rem;

        @media screen and (max-width: 887px){
            display: block;
            float: none;
            padding-top: 1.7rem;
            padding-bottom: .3rem;
        }
        }

        a {
        color: $text_main;
        text-decoration: none;
        font-size: 1.2rem;
        
        @media screen and (max-width: 887px){
        font-size: 1.2rem;
        }
        }
    }
}

// Post article
.post {
    padding-top: 2.2rem;
    padding-bottom: 1rem;

    @include article_link_hover;

    p {
    line-height: 2.2rem;
    color: $text_main;
        @media screen and (max-width: 887px){
            text-align: left;
        }
    }

    // Change colors to vars
    code {
        padding: .1em .25em;
        color: #586e75;
        background-color: rgba(253,246,227,.7);
        border: 1px solid rgba(250,231,179,.7);
        border-radius: 3px;
    }
    pre {
        padding: .75em 2em;
        margin-bottom: 0;
        background-color: #fdf6e3;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

// Post
blockquote {
    letter-spacing: .2rem;
    margin:0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0px;
    font-style: italic;
    text-align: center;
    position: relative;
}
.related_posts {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    ul {
        list-style-type: none;
    }

    li {
        margin-top: 1rem;
    }
    li:before {
        font-family: "FontAwesome";
        content: "\f054";
        color: $text_main;
        padding-right: .5rem;
    }

@include related_link_hover;
}

#disqus_thread a {
    color: $link_hover;
}

// About page
.about_head {
    text-align: center;

    h2 {
        text-align: center;
    }
}

// Footer
.footer {
    font-size: 80%;
    color: $text_main;
    border-top: 4px solid $nav_links;
    margin-top: 2em;
    overflow: hidden;
    text-align: center;
    width: 100%;

    @include span-columns(12);

    @media screen and (max-width: 768px){
        @include span-columns(12 of 12);
    }

    .fa {
        font-size: 2.5rem;
        color: $text_main;
        margin-bottom: 2rem;
        padding-left: .5rem;
        padding-top: 1rem;

        &:hover {
            text-decoration: none;
            color: $link_hover;
        }   
    }
}