---
layout: default
---
<h2>{{ page.title }}</h2>
<span class="post_date">{{ page.date | date: '%B %d, %Y' }}</span> 
<span class="post_reading-time">Reading time - 
    {% assign words = content | number_of_words %}
    {% if words < 360 %}
        1 minute
    {% else %}
        {{ words | divided_by: 180 }} minutes
    {% endif %}
    </span>
<hr>
<div class="post">

{{ content }}
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text={{ page.title }}%20via%20@tonecodes"
  data-size="large">
Tweet</a>
</div>
<hr> 
{% if site.related_posts.size >= 1 %}
<div class="related_posts">
  <h3>Related Posts</h3>
  <ul>
  {% for related_post in site.related_posts limit: 5 %}
    <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}